<!-- Header -->
<div id="hdr">

  <!-- Top Menu -->
  <div id="hdl">
    <%= link_to "Home", root_path, {class: 'h1'} %>
    <%= link_to "About Us", root_path, {class: 'h1'} %>
    <%= link_to "#{admin? ? "Articles" : "Login"}", articles_path %>
  </div>

  <%= form_tag(root_path, :method => 'get') do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search', onfocus: 'clS(1)', onblur: 'clS(0);', id: 's' %>
      <%= submit_tag "Search", {class: 'search_button', value: '', id: 'searchsubmit'} %>
  <% end %>

  <!-- Logo -->
  <div id="logo">
    <a href="/"></a>
  </div>

  <!-- Main Menu -->
  <div id="menu">
    <%= link_to "Home", root_path, {class: 'mh'} %>
    <%= link_to "Tutorials", root_path, {class: 'mt'} %>
    <%= link_to "Wallpapers", root_path, {class: 'mw'} %>
  </div>

</div>